{% extends 'base.html' %}
{% load static %}

{% block body %}
<nav class="bg-purple-600 ">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pt-4 hidden sm:block ">
        <div class="grid text-white grid-cols-12 content-center	justify-center	items-center	">
            <p class="text-xs text-grey-600 col-span-2">
                <i class="fas fa-phone-alt"></i>
                <a href="tel:98074291" class="px-2">98074291</a>
            </p>
            <input type="search" placeholder="Search.." name="search_box" id="search"
                class="bg-transparent border rounded-md col-span-6 px-2 py-1">
            <div class="flex col-span-4 justify-self-end space-x-4 text-sm">
                <p>Gold Rate: Rs. 100000</p>
                <p>Silve Rate: Rs. 100000</p>
            </div>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pt-4">
        <div class="relative flex h-16 items-center justify-between">

            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button"
                    class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false" id="hamburger">
                    <span class="sr-only">Open main menu</span>
                    <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
                <div class="flex flex-shrink-0 items-center space-x-4">
                    <br>
                    <br>
                    <div class="text-white">
                        <p class=" text-3xl font-bold font-dwarika">Dwarika's</p>
                        <p class="text-xs ml-2 ">Premium Collections</p>
                    </div>
                </div>
                <div class="hidden sm:ml-6 sm:block justify-self-end">
                    <div class="flex space-x-4 just">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="{% url 'home' %}" class=" text-white  px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
                        <a href="#"
                            class="text-gray-300  hover:text-white rounded-md px-3 py-2 text-sm font-medium">Categories</a>
                      
                        <a href="{% url 'MyPurchases' %}"
                            class="text-gray-300  hover:text-white rounded-md px-3 py-2 text-sm font-medium">Purchases
                        </a>

                        <a href="{% url 'MyCartPage' %}"
                            class="text-gray-300  hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cart
                        </a>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                {% if request.user.is_authenticated %}
                    <div class='text-white text-sm'> Hello! {{request.user}}</div>
                {% endif %}
                <!-- Profile dropdown -->
                <div class="relative ml-3 text-white">
                    <div>
                        {% if  request.user.is_authenticated %}
                        <button type="button"
                            class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </button>
                        {% else %}
                            <a class='flex space-x-3 justify-center items-center' href={% url 'login' %} >
                                <i class="fas fa-sign-in-alt"></i>
                                <p>Login</p>
                            </a>
                        {% endif %}
                    </div>
                    <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                        id="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        {% if request.user.is_admin %}
                            <a href="{% url 'AdminHomePage' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">Dashboard</a>
                        {% endif %}
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">Your Profile</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-1">Settings</a>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-2">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
                aria-current="page">Dashboard</a>
            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
        </div>
    </div>
</nav>
<div class="bg-slate-100 sm:p-4 p-2  border border-6  shadow hidden sm:block">
    <ul class="flex sm:space-x-10  overflow-scroll text-xs  sm:text-sm justify-center">
        <li>
            <a href="{% url 'CategoryProductPage' 'diamond-jwellery' %}">Diamond Jwellery</a>
        </li>

        <li>
            <a href="{% url 'CategoryProductPage' 'golden-jwellery' %}">Golden Jwellery</a>
        </li>

        <li>
            <a href="{% url 'CategoryProductPage'  'nepali-traditional-jwellery' %}">Nepali Traditional Jwellery</a>
        </li>

        <li>
            <a href="{% url 'CategoryProductPage'  'silver-jwellery' %}">Silver Jwellery</a>
        </li>
    </ul>
</div>

<script>
    let useMenu = document.getElementById('user-menu-button')
    let menu = document.getElementById('menu')
    let hamburger = document.getElementById('hamburger')
    let mobilemenu = document.getElementById('mobile-menu')

    useMenu.addEventListener('click', (event) => {
        if (menu.classList.contains('hidden')) {
            menu.classList.remove('hidden')
        }
        else {
            menu.classList.add('hidden')

        }
    })

    hamburger.addEventListener('click', (event) => {
        if (mobilemenu.classList.contains('hidden')) {
            mobilemenu.classList.remove('hidden')
        }
        else {
            mobilemenu.classList.add('hidden')

        }
    })


</script>

{% endblock body %}