<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket register sms</title>
</head>

<body style=" background-color: rgb(255, 255, 255);">
    <div style=" background-color: rgb(255, 255, 255);">
        <div style=" border: 2px solid pink; padding: 6px 0px; background-color: rgba(255, 11, 235, 0.685);"></div>
        <div
            style="border: 2px solid rgb(196, 196, 196); height: full; margin: 10px auto; width: 50%; padding-left: 12px;">
            <p style="font-size: 20px;">Hi <span style="font-weight: bold;
                color: rgb(255, 40, 201);">{{ticket.issued_by.first_name|capfirst}}!</span></p>
            <p style=" font-size: 20px;"> Your ticket with a priority of
                <span style="font-weight: bold;
                color: rgb(255, 40, 201);"> {{ticket.priority_id}}</span>. has been closed by <span style="font-weight: bold;
                color: rgb(255, 40, 201);"> {{closed_by|capfirst}}</span> on {{closed_at}}. Here is the ticket detail</p>
            <p style="font-size: 26px;
            font-weight: bolder;">ticket details</p>
            <div style="background-color: rgba(240, 236, 236, 0.589); border: 2px solid rgb(196, 196, 196); margin: 10px 16px; height: full;">
                <div style="border: 2px solid pink; padding: 6px 0px; background-color: rgba(255, 11, 235, 0.685)">
                </div>
                <div style="padding: 5px 10px; text-align: center;">
                    <h2>{{ticket.title|capfirst}}</h2>
                    <p style="font-size: 20px;">{{ticket.description|capfirst}}</p>
                    <a href="http://{{base_url}}/ticket/{{ticket.id}}" style="cursor: pointer; text-decoration: none; color: white; border: 2px solid pink; padding: 2px 6px; background-color: rgb(255, 0, 255); border-radius: 2px; text-decoration: none; cursor: pointer; color: white; width: 50%; margin: auto;">Follow up </a>
                </div>
                <div style="margin-top: 10px;  padding: 1px 2px; background-color: rgba(134, 134, 134, 0.616); display:flex; justify-content:space-around; color:rgb(65, 65, 65); font-weight: bold;">
                    <p style="margin: 0px 10px">Issued By: {{ticket.created_by.first_name}}</p>
                    <p style="margin: 0px 10px;">Issued On: {{ticket.created_on}} </p>
                </div>
            </div>
        </div>
        <div style="border: 2px solid pink;  padding: 6px 0px;  background-color: rgba(255, 11, 235, 0.685);
"></div>
    </div>
</body>

</html>