<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket register sms</title>
</head>

<body style=" background-color: rgb(255, 255, 255);">
    <div style=" background-color: rgb(255, 255, 255);">
        <div style=" border: 2px solid pink; padding: 6px 0px; background-color: rgba(255, 11, 235, 0.685);"></div>
        <div
            style="border: 2px solid rgb(196, 196, 196); height: full; margin: 10px auto; width: 50%; padding-left: 12px;">
            <p style="font-size: 20px;">Hi <span style="font-weight: bold;
                color: rgb(255, 40, 201);">{{name}}!</span></p>
            <p style=" font-size: 20px;"> A new ticket has been submitted by you on {{created_on}} with a priority of
                <span style="font-weight: bold;
                color: rgb(255, 40, 201);">{{priority}}</span>. We will reach out to you as soon as possible. We are
                very sorry for the inconvinience caused. We hope for your co-operation. </p>
            <p style="font-size: 26px;
            font-weight: bolder;">ticket details</p>
            <div
                style="background-color: rgba(240, 236, 236, 0.589); border: 2px solid rgb(196, 196, 196); margin: 10px 16px; height: full;">
                <div style="border: 2px solid pink; padding: 6px 0px; background-color: rgba(255, 11, 235, 0.685)">
                </div>
                <div style="padding: 5px 10px; text-align: center;">
                    <h2>{{title}}</h2>
                    <p style="font-size: 20px;">{{description}}</p>
                    <a href="#"
                        style="border: 2px solid pink; padding: 2px 6px; background-color: rgb(255, 0, 255); border-radius: 2px; text-decoration: none; color: white;">Follow
                        up</a>
                </div>
                <div style="border: 2px solid pink; padding: 6px 0px; background-color: rgba(255, 11, 235, 0.685);">
                </div>
            </div>
            <div style="text-align: center;">
                <h5 style="font-size: 20px;">For Further Query</h5>
                <p>Unicorn company private limited</p>
                <p>+97714685412, 9854316420</p>
                <p>unicorncompany@gmail.com</p>
            </div>
        </div>
        <div style="border: 2px solid pink;  padding: 6px 0px;  background-color: rgba(255, 11, 235, 0.685);
"></div>
    </div>
</body>

</html>